<section class="content__section section">
  <div class="section__header">
    <h3 class="section__title h2">Demo</h3>
  </div>
  <div class="section__body">
    <div class="grid">
      <!-- col-1 -->
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <div class="grid__col grid__col-1">1</div>
      <!-- col-2 -->
      <div class="grid__col grid__col-2">2</div>
      <div class="grid__col grid__col-2">2</div>
      <div class="grid__col grid__col-2">2</div>
      <div class="grid__col grid__col-2">2</div>
      <div class="grid__col grid__col-2">2</div>
      <div class="grid__col grid__col-2">2</div>
      <!-- col-3 -->
      <div class="grid__col grid__col-3">3</div>
      <div class="grid__col grid__col-3">3</div>
      <div class="grid__col grid__col-3">3</div>
      <div class="grid__col grid__col-3">3</div>
      <!-- col-4 -->
      <div class="grid__col grid__col-4">4</div>
      <div class="grid__col grid__col-4">4</div>
      <div class="grid__col grid__col-4">4</div>
      <!-- col-5 -->
      <div class="grid__col grid__col-5">5</div>
      <div class="grid__col grid__col-5">5</div>
      <!-- col-6 -->
      <div class="grid__col grid__col-6">6</div>
      <div class="grid__col grid__col-6">6</div>
      <!-- col-7 -->      
      <div class="grid__col grid__col-7">7</div>
      <!-- col-8 -->
      <div class="grid__col grid__col-8">8</div>      
      <!-- col-9 -->
      <div class="grid__col grid__col-9">9</div>
      <!-- col-10 -->      
      <div class="grid__col grid__col-10">10</div>
      <!-- col-11 -->
      <div class="grid__col grid__col-11">11</div>      
      <!-- col-12 -->
      <div class="grid__col grid__col-12">12</div>
    </div>
  </div>
  <div class="section_footer">
    <div class="code">
      <h4 class="code__title">Code HTML</h4>
      <div class="code__clipboard">
        <button class="btn-clipboard">Copier</button>
      </div>
      <textarea class="code_snippet">
<div class="grid">
  <!-- 1 colonne -->
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <div class="grid__col grid__col-1">1</div>
  <!-- 2 colonnes -->
  <div class="grid__col grid__col-2">2</div>
  <div class="grid__col grid__col-2">2</div>
  <div class="grid__col grid__col-2">2</div>
  <div class="grid__col grid__col-2">2</div>
  <div class="grid__col grid__col-2">2</div>
  <div class="grid__col grid__col-2">2</div>
  <!-- 3 colonnes -->
  <div class="grid__col grid__col-3">3</div>
  <div class="grid__col grid__col-3">3</div>
  <div class="grid__col grid__col-3">3</div>
  <div class="grid__col grid__col-3">3</div>
  <!-- 4 colonnes -->
  <div class="grid__col grid__col-4">4</div>
  <div class="grid__col grid__col-4">4</div>
  <div class="grid__col grid__col-4">4</div>
  <!-- col-5 -->
  <div class="grid__col grid__col-5">5</div>
  <div class="grid__col grid__col-5">5</div>
  <!-- col-6 -->
  <div class="grid__col grid__col-6">6</div>
  <div class="grid__col grid__col-6">6</div>
  <!-- col-7 -->      
  <div class="grid__col grid__col-7">7</div>
  <!-- col-8 -->
  <div class="grid__col grid__col-8">8</div>
  <!-- col-9 -->
  <div class="grid__col grid__col-9">9</div>
  <!-- col-10 -->      
  <div class="grid__col grid__col-10">10</div>
  <!-- col-11 -->
  <div class="grid__col grid__col-11">11</div>
</div>
      </textarea>
    </div>
    <div class="section__footer__links">
      <a href="Layouts/Grid/grid.css" class="footer__link">Télécharger le fichier CSS</a>
    </div>
  </div>
</section>